@model List<Biblioteca_de_Jogos.Models.JogoEmprestimoViewModel>
@{
    ViewData["Title"] = "Empréstimos";
}

<h2>Empréstimos: @ViewBag.JogoNome</h2>

<table class="table">
    <thead>
        <tr>
            <th>Amigo</th>
            <th>Data do Empréstimo</th>
            <th>Progresso</th>
            <th>Disponível em</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.NameAmigo</td>
            <td>@item.DataEmprestimo.ToString("g")</td>
            <td>@item.Porcentagem %</td>
            <td>@item.DataDisponivel.ToString("d")</td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
